.piece-container {
    position: absolute;
    width: 10.8%;
    height: 34.5%;
    top: 31%;
    background-color: transparent;
    text-align: center;
    justify-content: center;
    pointer-events: none;

    .piece-container-shadow {
        position: absolute;
        height: 77%;
        top: 16.6%;
        width: 74%;
        left: 13%;
        background-color: transparent;
        box-shadow: inset 2px 3px 25px #000000;
        pointer-events: none;
    }
    p {
        all: unset;
        position: relative;
        bottom: 0;
        font-size: 40px;
        color: #f6ffff;
        pointer-events: none;
    }
    input[type=color] {
        all: unset;
        -webkit-appearance: auto;
        appearance: auto;
        position: absolute;
        background: #454653;
        inline-size: 244px;
        block-size: 27px;
        bottom: -4%;
        left: 5%;
    }
}


.board-shadow {
    position: absolute;
    left: 34.3%;
    top: 19%;
    width: 800px;
    height: 800px;
    border-radius: 50%;
    background-color: transparent;
    box-shadow: 0px 0px 40px 10px #5d5b5b;
    pointer-events: none;
}