.piece-container {
    position: absolute;
    display: flex;
    width: 10.8%;
    height: 44.5%;
    top: 25%;
    background-color: transparent;
    text-align: center;
    justify-content: center;
    pointer-events: none;
    z-index: 1;

    .piece-container-shadow {
        position: absolute;
        height: 342px;
        top: 17%;
        width: 202px;
        left: 4%;
        background-color: transparent;
        box-shadow: inset 2px 3px 25px #000000;
        pointer-events: none;
    }
    p {
        all: unset;
        position: relative;
        bottom: 0;
        font-size: 40px;
        color: #f6ffff;
        pointer-events: none;
    }
    input[type=color] {
        all: unset;
        -webkit-appearance: auto;
        appearance: auto;
        position: absolute;
        background: #454653;
        inline-size: 244px;
        block-size: 27px;
        bottom: -6%;
        left: -5%;
        pointer-events: all;
    }

    .score-counter {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100px;
        height: 340px;
        background-color: transparent;
        bottom: 5%;
        border: none;

        input[type=number] {
            position: absolute;
            width: 60%;
            height: 15%;
            top: 5%;
            padding: 5%;
            margin: 5px 0 22px 0;
            border: none;
            text-align: center;
            align-items: center;
            justify-content: center;
            background: #f1f1f1;
            font-size: 24px;	
        }

        .switch {
            position: absolute;
            display: flex;
            height: 10%;
            width: 80%;
            top: 26%;
            align-items: center;
            justify-content: center;
            pointer-events: all;
            :hover {
                cursor: pointer;
            }
            .slider {
                position: absolute;
                height: 100%;
                width: 100%;
                cursor: pointer;
                -webkit-transition: .4s;
                transition: .4s;
            }
            .label {
                position: absolute;
                display: block;
                text-align: center;
                font-size: 40px;
            }
            .slider:after {
                position: absolute;
                content: "";
                height: 75%;
                left: 48%;
                top: 4%;
                width: 40%;
                background-color: rgba(255, 255, 255, 0.5);
                transition: 0.4s;
                border: 5px solid rgb(19, 35, 85);
            }
        }
          
          /* Hide default HTML checkbox */
        .switch input {
            display: none;
            opacity: 0;
            width: 0;
            height: 0;
        }
          
        input:not(:checked) + .slider:after {
            -webkit-transform: translateX(-85%);
            -ms-transform: translateX(-85%);
            transform: translateX(-85%);
        }
        .points-button {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 60%;
            height: 15%;
            top: 2%;
            background-color: rgb(23, 23, 30);
            border-radius: 4px;
            text-align: center;
            color: whitesmoke;
            font-size: 16px;
            -webkit-user-select: none;
            user-select: none;
            pointer-events: all;
        }
        .points-button:hover {
            cursor: pointer;
            background-color: rgb(148, 148, 148);
        }
        .view-button {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 15%;
            height: 25%;
            background-color: rgba(12, 12, 26, 0.6);
            top: 34%;
            -webkit-user-select: none;
            user-select: none;
            pointer-events: all;
            visibility: visible;
            opacity: 1;
        }
        .view-button::before {
            content: "";
            width: 10%;
            height: 50%; 
            background-color: white; 
            position: absolute;
            top: 25%; 
            left: 2px;
        }
        .view-button:hover {
            cursor: pointer;
        }
    input[type=number],
    .points-button,
    .label,
    .slider:after {
        opacity: 0;
    }
    &.open {
        opacity: 1; 
        border-right-style: inset;
        border-right-color: transparent;
        border: 5px solid;
        background-color: rgba(141, 141, 141, 0.577);

        input[type=number],
        .points-button,
        .label,
        .slider:after {
            opacity: 1;
        }
    }
    }
    
}
    
.piece-container-left {
    left: 8.2%;
    .score-counter {
        left: -4%;
        transition: left 0.5s ease;
        .view-button {
            left: -59%;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }
    &.open {
        left: -53%;
        border-right-style: inset;
        border-right-color: transparent;
        .view-button {
            left: -64%;
        }
    }
    }
}
.piece-container-right {
    right: 8%;
    .score-counter {
        right: -4%;
        transition: right 0.5s ease;
        
        .view-button {
            right: -55%;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }
    &.open {
        right: -51%;
        border-left-style: inset;
        border-left-color: transparent;
        .view-button {
            right: -62%;
        }
    }
    }
}


.board-shadow {
    position: absolute;
    left: 34.3%;
    top: 19%;
    width: 800px;
    height: 800px;
    border-radius: 50%;
    background-color: transparent;
    box-shadow: 0px 0px 15px 5px #5d5b5b;
    pointer-events: none;
}
