<div class="piece-container" style="left: 15%;">
	<p> {{ gameState.players.p1.name }} </p>
	<div class="piece-container-shadow" style="left: 13%;"></div>	
	<div><input id="p1" type="color" value="#335B96" (change)="updatePlayerColor('p1', $event.target)"></div>
	<div class="score-counter" style="left: 16.5%;" [style.background-color]="playerOneColor">
		<input type="number" id="p1Score" value="0">
		<br>
		<button class="button" (click)="updateScore('p1Score', 5)">5</button>
		<button class="button" (click)="updateScore('p1Score', 10)">10</button>
		<button class="button" (click)="updateScore('p1Score', 15)">15</button>
		<button class="button" (click)="updateScore('p1Score', 20)">20</button>
	</div>
</div>   
<div class="piece-container" style="right: 15%;"> 
	<p> {{ gameState.players.p2.name }} </p>
	<div class="piece-container-shadow" style="right: 13%;"></div>
	<div><input id="p2" type="color" value="#DF4A26" (change)="updatePlayerColor('p2', $event.target)"></div>
	<div class="score-counter" style="left: 16.5%;" [style.background-color]="playerTwoColor">
		<input type="number" id="p2Score" value="0">
		<br>
		<button class="button" (click)="updateScore('p2Score', 5)">5</button>
		<button class="button" (click)="updateScore('p2Score', 10)">10</button>
		<button class="button" (click)="updateScore('p2Score', 15)">15</button>
		<button class="button" (click)="updateScore('p2Score', 20)">20</button>
	</div>
</div> 
<div class="board-shadow"></div>