<div class="piece-container piece-container-left">
	<p> {{ gameState.players.p1.name }} </p>
	<div class="piece-container-shadow"></div>	
	<div><input id="p1" type="color" value="#335B96" (change)="updatePlayerColor('p1', $event.target)"></div>
	<div class="score-counter open" [style.border-color]="playerOneColor" id="p1ScoreCounter">
		<div class="view-button" (click)="toggleScoreCounter('p1ScoreCounter')"></div>
		<input type="number" id="p1Score" value="0">
		<label class="switch">
			<input type="checkbox" id="p1Checkbox" [checked]="p1PlusMinus" (click)="toggleCheckbox('p1Checkbox')">
			<span class="slider"></span>
			<span class="label" style="left: 20%;">-</span>
			<span class="label" style="left: 60%;">+</span>
		</label>
		<br>
		<button class="points-button" (click)="updateScore('p1Score', 5)">5</button>
		<button class="points-button" (click)="updateScore('p1Score', 10)">10</button>
		<button class="points-button" (click)="updateScore('p1Score', 15)">15</button>
		<button class="points-button" (click)="updateScore('p1Score', 20)">20</button>
	</div>
</div>   
<div class="piece-container piece-container-right"> 
	<p> {{ gameState.players.p2.name }} </p>
	<div class="piece-container-shadow"></div>
	<div><input id="p2" type="color" value="#DF4A26" (change)="updatePlayerColor('p2', $event.target)"></div>
	<div class="score-counter open" [style.border-color]="playerTwoColor" id="p2ScoreCounter">
		<div class="view-button" (click)="toggleScoreCounter('p2ScoreCounter')"></div>
		<input type="number" id="p2Score" value="0">
		<label class="switch">
			<input type="checkbox" id="p2Checkbox" [checked]="p2PlusMinus" (click)="toggleCheckbox('p2Checkbox')">
			<span class="slider"></span>
			<span class="label" style="left: 20%;">-</span>
			<span class="label" style="left: 60%;">+</span>
		</label>
		<br>
		<button class="points-button" (click)="updateScore('p2Score', 5)">5</button>
		<button class="points-button" (click)="updateScore('p2Score', 10)">10</button>
		<button class="points-button" (click)="updateScore('p2Score', 15)">15</button>
		<button class="points-button" (click)="updateScore('p2Score', 20)">20</button>
	</div>
</div> 

<p class="board-label" style="left: 49.2%; top: 11.75%; transform: rotate(180deg);">5</p>  <!-- top -->
<p class="board-label" style="left: 64.8%; top: 44%; transform: rotate(270deg);">5</p>  <!-- right -->
<p class="board-label" style="left: 49.7%; top: 76.5%;">5</p> <!-- bottom -->
<p class="board-label" style="left: 33.8%; top: 44.5%; transform: rotate(90deg);">5</p>  <!-- left -->


<p class="board-label" style="left: 48.8%; top: 24%; transform: rotate(180deg);">10</p>  <!-- top -->
<p class="board-label" style="left: 58.2%; top: 44%; transform: rotate(270deg);">10</p>  <!-- right -->
<p class="board-label" style="left: 49%; top: 64.5%;">10</p> <!-- bottom -->
<p class="board-label" style="left: 39.8%; top: 44%; transform: rotate(90deg);">10</p>  <!-- left -->

<p class="board-label" style="left: 48.8%; top: 34%; transform: rotate(180deg);">15</p>  <!-- top -->
<p class="board-label" style="left: 54.2%; top: 44%; transform: rotate(270deg);">15</p>  <!-- right -->
<p class="board-label" style="left: 49%; top: 54.5%;">15</p> <!-- bottom -->
<p class="board-label" style="left: 43.8%; top: 44%; transform: rotate(90deg);">15</p>  <!-- left -->


<p class="board-label" style="left: 49.1%; top: 41.5%; font-size: 30px; transform: rotate(180deg);">20</p>  <!-- top -->
<p class="board-label" style="left: 49.1%; top: 49%; font-size: 30px;">20</p> <!-- bottom -->

<!-- <div class="board-shadow"></div> -->
