<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
<div class="container">
	<div class="player-input" id="playerInput">
		<div class="content">
			<label for="playerNameEntry" style="left: 0px">Enter Player Name</label>
			<input type="text" placeholder="Player name" name="playerNameEntry" required>
			<div class="button add-player-button" (click)="addPlayer()"><i class="fa fa-user-plus"></i></div>
			<div class="button close-button" (click)="closePlayerInput()">Close</div>
		  </div>
	</div>
	<div class="game-area">
		<p style="left: 19%;">Player One</p>
		<p style="right: 19%;">Player Two</p>
		<div class="piece-container-shadow" style="left: 19%;"></div>
		<div class="piece-container-shadow" style="right: 19%;"></div>
		<div class="board-shadow"></div>
		<canvas #gameArea class="game-canvas"></canvas>
	</div>
</div>