<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<div class="container">
	<app-name-entry></app-name-entry>
	<!-- pop up notification makes the webpage expand and scroll bars are created -->
	<!-- <div *ngFor="let notification of notifications" class="pop-up-notification">
		<div class="alert-simple" [ngStyle]="{ 'border-color': notification.color, 'color': notification.color }">
			{{ notification.message }}
		</div>
	</div> -->
	<app-world></app-world>
	<div class="game-area">
		<!-- <div class="new-game-button" (click)="newGame()">new game</div> -->
		<canvas #gameArea class="game-canvas"></canvas>
	</div>
</div>