<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
<div class="container">
	<div class="player-input" id="playerInput">
		<div class="content">
			<label for="playerNameEntry" style="left: 0px">Enter Player Name</label>
			<input type="text" placeholder="Player name" name="playerNameEntry" required>
			<div class="button add-player-button" (click)="addPlayer()"><i class="fa fa-user-plus"></i></div>
			<div class="button close-button" (click)="closePlayerInput()">Close</div>
		  </div>
	</div>

		<div class="pop-up-notification">
			<div class="alert fade alert-simple alert-success alert-dismissible text-left font__family-montserrat font__size-16 font__weight-light brk-library-rendered rendered show">
				<button class="cross-button"  data-dismiss="alert">
					<span aria-hidden="true"><a>
						<i class="fa fa-times cross"></i>
						</a></span>
					<span class="sr-only">Close</span> 
					</button>
					You successfullyread this important.
				</div>
		</div>
	<div class="game-area">
		<div class="new-game-button" (click)="newGame()">new game</div>
		<app-world></app-world>
		<canvas #gameArea class="game-canvas"></canvas>
	</div>
</div>